// component css goes here
.head{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: rgba(131, 124, 145, 0.5);
}

.left, .right, #headline{
  display: flex;
  flex-grow: 1;
}
.left{
  justify-content: flex-start;
}
.right{
  justify-content: flex-end;
}

button{
  box-shadow: none;
}
#headline {
  align-items: center;
  margin: 0 15%;
  color: white;
}
#vorteile{
  align-items: center;
  margin: 0 25%;
  padding: 0 10% 0 10%;
  color: black;
  background-color: #FCA100;
}
#login{
  padding-right: 5%;
  background-color: transparent;
  border-left: solid white;
}
