.foot{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  background-color: rgb(131, 124, 145, 0.1) ;
}

a{
  text-decoration: none;
  color: white;
  margin: 0 1%;
  padding: 0.5em;
}
