<div class="detail" *ngIf="recipe">
<div>
<button (click)="goBack()">go back</button>
</div>
  <div class="left">
    <div id="title">
      <p id="titleText">{{ recipe.getTitle() }}</p>
    </div>
    <div class="leftInner">
    <div id="ingredients">
      <p>Zutaten</p>
      <div *ngFor="let ingredient of spezingredients">
        <!--die getter Funktionen bereiten Schwierigkeiten, es wird nichts angezeigt
        wenn ich direkt auf das attribut zugreife (was ja nicht erlaubt ist, zeigt es alles an-->
      <p>{{ ingredient.amount }} {{ ingredient.unit}} {{ ingredient.description}}</p>
    </div>
    <!--<div *ifngFor='userIsPremium === true' *ngFor="let nutirent of speziNutrients">
      die getter Funktionen bereiten Schwierigkeiten, es wird nichts angezeigt
      wenn ich direkt auf das attribut zugreife (was ja nicht erlaubt ist, zeigt es alles an
    <p>{{ nutrients.amount }} {{ nutrients.unit}} {{ nutrients.description}}</p>
  </div>-->
  </div>
    <div id="duration">
      <p>{{ recipe.getDuration() }}</p>
    </div>
  </div>
</div>
  <div class="middle">
    <div id="servings">
      <p>Anzahl Portionen: {{ recipe.getServings() }}</p>
    </div>
    <div id="instruction">
      <p>{{ recipe.getInstruction() }}</p>
    </div>
  </div>
  <div class="right">
    <div id="image">Bild:<img src="" /></div>
    <div class="result-rating">
      <p>Note: {{ recipe.getRating() }}</p>
      <div *ngFor="let rating of ratings">
        <div class="comments">
          <!--Hier dasselbe Problem wie bei ingredients-->
          {{rating.getComment()}}
        </div>
      </div>
    </div>
    <div class="result-rating-count">
      <!--<p> Anzahl Bewertungen: {{ countRating }} </p>-->
    </div>
  </div>
</div>
