.detail{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 60px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
}

.right, .middle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  margin: 3%;
}

.left{
 width: 33%;
}
#title{
  font-family: Century Gothic;
  font-size: 20px;
  background-color: #FCA100;
  display: inline-block;
  min-width: 40%;
  padding-left: 8%;
  padding-right: 10%;
  position: relative;
  right: 5%;
}

#titleText{
  margin-top: 1%;
  margin-bottom: 1%;
}

#ingredients, #duration{
  width: 100%;
}
