<div class="info">
  <div id="closeContainer">
  <button id="close" mat-raised-button><mat-icon>close</mat-icon></button>
</div>
  <div id="benefits">
    <h2> Ihre Vorteile </h2>
    <p>
      Rezepte selbst erstellen und verwalten. <br>
      Rezepte von anderen Benutzern kommentieren und bewerten. <br>
      Individuelle Kochbücher erstellen und nach Hause liefern lassen.
    </p>
    <div id="regcontainer">
    <button id="goReg" mat-raised-button routerLink="/reg">Registrieren</button>
  </div>
  </div>
</div>
