<button class="create" mat-raised-button>Erstellen</button>
<div class="workspace">
  <div class="left">
    <label for="title">Titel:</label><br>
    <input type="text"><br>
    <label for="kurzbeschreibung">kurze Beschreibung:</label><br>
    <input type="text"><br>
    <label for="stichwort">Stichwort:</label><br>
    <!-- Hier muss das Dropdown für Keywords hin -->
    <div class="keywords"></div>
    <div class="ingredients">
      <label for="menge">Menge:</label>
      <input type="select">
      <label for="einheit">Einheit:</label>
      <input type="select">
      <label for="zutat">Zutat:</label>
      <input type="text">
    </div>
  <div class="zutaten"></div>
  <label for="zubereitung">Zubereitungsdauer in Minuten:</label><br>
  <input type="select" name="dauer" id="dauer">
  </div>
  <div class="mid">
    <label for="portion">Portionsmenge:</label><br>
    <input type="select"><br>
    <label for="schritte">Zubereitungsschritte:</label><br>
    <input type="text">
  </div>
  <div class="right">
    <label for="picture">Bild:</label>
    <input type="file">
  </div>
</div>
