<div class="searcharea">
  <div class="searching">
    <input (keyup)="suggestions()" type="text" matInput [formControl]="drop" [matAutocomplete]="auto" placeholder="Gib einen Suchbegriff ein" name="search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gib einen Suchbegriff ein'" [(ngModel)]="ingredient">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]=option>
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <button id="add" mat-mini-fab (click)="addIngredient()">+</button>
  </div>
  <div id="search">
    <span *ngFor="let ingredient of ingredients; let i = index;" > {{ ingredient }}
      <button id="remove"  (click)="removeIngredient(i)">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>
  <button id="find" mat-raised-button (click)="search()">let's go</button>
</div>

  <div class="result" *ngFor="let recipe of recipes">
    <a routerLink="/detail/{{recipe.getId()}}">
  <div class="cookbook">cookbook
    <!-- img-tag for logo (?)-->
    <img src="">
    <button id="addCb">+</button>
  </div>
  <div class="image">Bild
      <img src="">
  </div>
  <div class="title">
   <p>{{ recipe.getTitle() }} </p>
  </div>
  <div class="description">
     <p>{{ recipe.getDescription() }} </p>
  </div>
  <div class="rating">
  <div class="ratingView">
    <!--Getter Problem wie auch in der recipe-details Komponente-->
    <p *ngIf="recipe.getRating()"> Note: {{ recipe.getRating() }} </p>
  </div>
  <div class="countRating">
    <p *ngIf="recipe.getRatings()"> Anzahl Bewertungen: {{ recipe.getRatings().length}} </p>
 </div>
</div>
  <div class="certified" *ngIf="recipe.getCertified()">
    <!-- img-tag for logo (?)-->
      <img src="">
     <p>Zertifiziert</p>
  </div>
</a>
</div>

