form {
  float: left;
  width: 40%;
  height: 30%;
  margin: 15% 30% auto 30%;
  display: flex;
justify-content: center;
align-items: center;
}

input {
  width: 40%;
}

button {
  margin-left: 5%;
}
