<div class="searcharea">
  <div class="searching">
    <input (keyup)="suggestions()" type="text" matInput [formControl]="drop" [matAutocomplete]="auto" placeholder="Gib einen Suchbegriff ein" name="search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Gib einen Suchbegriff ein'" [(ngModel)]="ingredient">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]=option>
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <button id="add" mat-mini-fab (click)="addIngredient()">+</button>
  </div>
  <div id="search">
    <span *ngFor="let ingredient of ingredients; let i = index;" > {{ ingredient }}
      <button id="remove"  (click)="removeIngredient(i)">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>
  <button id="find" mat-raised-button (click)="search()">let's go</button>
</div>

  <div class="result" *ngFor="let recipe of recipes">
   <div>{{recipe.id}}</div>
  <div class="cb-btn">Zum Kochbuch hinzuzufügen
    <!-- img-tag for logo (?)-->
    <img src="">
    <button id="addCb">Logo</button>
  </div>
  <div class="result-img">Bild
      <img src="">
  </div>
  <div class="result-title">
   <p>Titel: {{ recipe.title }} </p>
  </div>
  <div class="result-descr">
     <p>Beschreibung {{ recipe.description }} </p>
  </div>
  <div class="result-rating">
    <p> Note: {{ recipe.ratings }} </p>
  </div>
  <div class="result-rating-count">
    <p> Anzahl Bewertungen: {{ countRating }} </p>
 </div>
  <div class="certi">Zertifikat
    <!-- img-tag for logo (?)-->
      <img src="">
     <p>{{recipe.certified}}</p>
  </div>
</div>


