.searcharea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20%;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
}

.searching{
  display: flex;
}

#zutaten{
  height: auto;
  background-color: yellow;
}
input {
  width: 25em;
  background: #FFFFFF;
  border-radius: 25px;
  border: none;
  margin: 1% 0 1% 0;
  height: 2em;
}

#find {
  background: #FCA100;
  color: black;
  width: 7em;
  border-radius: 25px;
  border: none;
  margin: 1% 0 1% 0;
}

#add{
  font-size: 2em;
  background: rgba(89, 81, 85, 0.8);
  color: #FFA300;
}

span{
  margin: 1em;
  padding: 0 0.5em;
  background-color: white;
  border-radius: 25px;
}

#remove{
  border: none;
}

mat-icon{
  width: 0.5em;
  height: 0.5em;
}

.result{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5%;
  width:90%;
  height: auto;
}

a{
  margin-bottom: 2%;
  background-color: white;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.cookbook{
  height: 7em;
  width: 8%;
}

.image{
  height: 7em;
  width: 22%;
}

.title{
  height: 7em;
  width: 15%;
}

.description{
  height: 7em;
  width: 25%;
}

.rating{
  height: 7em;
  width: 20%;
}

.certified{
  justify-content: flex-end;
  height: 7em;
  width: 10%;
}
