.containerReg{
  float: left;
  width: 70%;
  height: auto;
  margin: 7% 15% auto 15%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#close{
  float: right;
  background-color: transparent;
  color: #686868;
  box-shadow: none;
}
#closing {
  float: left;
  width: 100%;
  height: auto;
}
#left, #mid, #right{
  width: 30%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
input[type='checkbox'] {
  float: left;
}
input[type='text'] {
  width: 90%;
}
input[type='password'] {
  width: 90%;
}

#subReg{
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  color: black;
  background-color: #FCA100;
  text-align: center;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
label {
  display: block;
}
input{
  background: #EBEBEB;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

a{
  text-decoration: none;
  color: #FCA100;
}
#goLog{
  text-align: center;
  margin-top: 1em;
}

#nutzung, #daten{
  font-size: 12px;
}

#geschlechter{
  display: flex;
  justify-content: left;
}
