 /* Dropdown Button */
 .menu {
    width: 80px;
    height: 80px;
    border: 1.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .menu img{
    width: 100%;
    border-radius:50%;
  }

  .container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
  }

.menuuu{
  position: relative;
  top: 0;
  max-width: 200px;
  max-height: auto;
  background-color: white;
}

.nav{
  display: flex;
  flex-direction: column;
  width: 160px;
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
