<div class="container" *ngIf="user">
  <button class="menu" (click)="toggle()"><img [src]= "user.getPicture()" alt="Benutzerfoto"></button>
  <div class="menuuu" [hidden]="isShowDiv">
    <p>{{this.user.getFirstname()}}</p>
    <button class="nav" routerLink="/account">Konto verwalten</button>
    <button class="nav" routerLink="/myrecipes">Meine Rezepte</button>
    <button class="nav" routerLink="/cookbook">Kochbuch zusammenstellen</button>
    <div *ngIf="user.getIsPremium()">
    <button class="nav" routerLink="" disabled>Favoriten</button>
    <button class="nav" routerLink="" disabled>Top Newcomer</button>
    <button class="nav" routerLink="" disabled>Geschenk abholen</button>
    </div>
  </div>
</div>
