html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('images/Hintergrundbild.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
